<!DOCTYPE HTML>
<html ng-app="ideaboard">
<head>
	<title></title>
	<!-- AngularJS -->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- Firebase -->
    	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    	<script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Bootstrap-->
	    <!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--Local Scripts-->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    	
    	<script type="text/javascript" src="angular.js"></script>
    	<script src="masonry.pkgd.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="ideaCtrl">
<!--HEADER-->
	<header>
		<div id="test">
			<h1>BEND THE PEN</h1>
			<input id="searchbar" type="text" placeholder="Search" ng-model="searchEntry">
			<img id="LOGO" src="img/btplogo.png"/>
		</div>
		<hr style= "width: 50%">
		<p id="INTRO">A specially curated website for the intention of progressing and organizing my thoughts and my art.</p>
		<p id="SUB">#BendthePen #EMR</p>
		<hr style= "width: 50%">
	</header>

<!--ADD-->
	<div id="addbutton">
		<input type="image" src="img/addtab-bold.png" alt="SUBMIT" id="tab">
	</div>

	<!--ADD FORM-->
	<div id="formpanel">
		<form ng-submit="addPin(image_url, video, audio, words, hashtags);">
			<label>Image</label>
				<input class="input" type="url" ng-model="image_url"><br>
			<label>Video</label>
				<input class="input" type="text" ng-model="video"><br>
			<label>Audio</label>
				<input class="input" type="text" ng-model="audio"><br>
			<label>Text</label>
				<textarea class="input" ng-model="words">enter text</textarea><br>
			<label>Tags</label>
				<input class="input" type="text" ng-model="hashtags"><br>
			<input type="submit" value="Add Me" id="doneadd">
		</form>
	</div>
	<input type="checkbox" ng-model="checked">
<!--ENTRIES W DELETE FUNCTION, LIKE BUTTON-->
	
	<div class="container">
		<div class="row">
		 	<div class="item" ng-repeat="entry in posts | filter:searchEntry" ng-hide="checked && !entry.like">
		        <div class="well"> 
			       <div ng-switch on="entry.like">
						<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><img class="entryimg" src="{{entry.image_url}}"/></button><br>
						{{entry.video}}<br>
						{{entry.audio}}<br>
						<p>{{entry.words}}</p>
						<p id="tags">{{entry.hashtags}}</p>
						<button class="trashbutton" ng-click="deletePin(entry)"><img class="trashbuttonimg" src="img/trash.png"/></button>
						<button class="likebutton" ng-switch-when="false" ng-click="likePin(entry)"><img class="likebuttonimg" src="img/nolike.png"/></button>
						<button ng-switch-when="true" ng-click="likePin(entry)" class="likedbutton"><img class="liked" src="img/like.png"/></button>	
					</div>
		        </div>
		    </div>
		</div>
	</div>
	
	<!-- MODAL -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>




</body>
</html>