/*****GENERAL*******
********************/
body {
	margin-top:0;
	/*z-index:-3;*/
}
/*div {
	margin-top: 1%;
	z-index:-2;
}
*/

/*****HEADER*******
********************/
header {
	width:100%;
}

h1{
	text-align: center;
	font-family: "Bebas Neue";
	letter-spacing:0.135em;
	word-spacing: 0.07em;
}
#searchbar{
	position: absolute;
	top:24px;
	right:7%;
	width:20%;
	font-size:75%;
	color:#5a5854;
	border:1px solid #bdbdbd;
	padding:5px 5px 5px 30px;
}

#searchbar:focus, #searchbar:hover{
	background-color:#ffffff;
	border:1px solid #b1e1e4;
}
#LOGO{
	width:6%;
	display:block;
	margin:0 auto;
}

#INTRO{
	font-family: Georgia, Times, Serif;
	text-align: center;
	margin-bottom:.5%;
	margin-top:1%;
	font-size: 95%;
}

#SUB{
	font-family: Georgia, Times, Serif;
	text-align: center;
	font-size: 85%;
}
hr{
	margin-bottom:0;
}



/*****ADD FORM*******
********************/
#addbutton{
	margin-top:0;
	/*z-index: -10;*/
	position: relative;
	top: -5px;
}
#tab{
	width:3%;
	display:block;
	margin:0 auto;
	outline:none;
}
#formpanel{
	display: none;
	width:50%;
	height:400px;
	margin:0 auto 2% auto;
	position:relative;
	top:-25px;
	/*z-index:-1;*/
}
.input{
	font-size:75%;
	color:#5a5854;
	background-color:#f2f2f2;
	border:1px solid #bdbdbd;
	padding:5px 5px 5px 30px;
	display:block;
	width:40%;
	margin:1% 0 0 3%;
}

.input:focus, .input:hover{
	background-color:#ffffff;
	border:1px solid #b1e1e4;
}

/*****ENTRIES*******
********************/

Bootstrap Masonry
*, *:before, *:after {box-sizing:  border-box !important;}


.row {
	margin-top:2%;
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 

}

.well {
 position:relative;
 display: block;
 padding:0;
 border-radius:0px;
 border:none;
 box-shadow: 3px 3px 3px #c3c3c3;
 background: rgba(255, 255, 255, 0.9);
}

.entryimg{
	width: 100%;
	/*border-bottom: 1px solid #ccc;*/
	/*padding-bottom: 15px;
	margin-bottom: 5px;*/
}

.liked{
	background-color:red;
}

